<!doctype html>
<html lang="en" th:replace="~{layout :: layout(${title}, ~{::main})}">
  <body>

	<main>
	  <section class="container my-5">
          <h1>About</h1>
          <p class="py-3">Sit et doloribus commodi eos recusandae assumenda explicabo Est officiis veritatis vero praesentium possimus! Dolor dignissimos praesentium repellendus harum nemo Dolore fugiat modi culpa cum amet! Doloremque numquam eaque dicta odit ipsa? Labore maiores esse ipsa aspernatur adipisci Eum beatae aperiam saepe adipisci tempore Molestias beatae iste commodi delectus inventore soluta Vel commodi odit asperiores expedita tempore. Fuga laudantium voluptas quia aspernatur repudiandae Aliquam doloremque maiores veritatis sit accusantium deserunt! Consequatur quam soluta repellat maiores consequatur Ipsam quam id sapiente libero vel consequuntur. Sequi dignissimos sequi sint natus sit officiis. Ad expedita animi error qui veniam. Voluptate tenetur modi corporis maxime dolorem et? Quam sapiente ducimus accusamus adipisci ipsam Autem mollitia inventore commodi molestias labore Ex accusamus porro labore ea rerum Minus!</p>
	  </section>
	</main>
	
  </body>
</html>

